.expenses{
    background-color: #111;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 2rem;
}
@media (min-width: 775px) {
    .expenses{
        width: 60%;
    }
}
@media (max-width: 770px) {
    .expenses{
        width: 90%;
    }
}