html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e1eeeb;
}
p {
  line-height: 1.6;
  color: #e1eeeb;
}
a {
  color: #06c;
  text-decoration: none;
}
a:hover {
  color: #f60;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
